# Next.js
.next/
out/
build/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env (important)
.env*
!.env.example

# Vercel
.vercel/

# Supabase
.supabase/

# Misc
.DS_Store
Thumbs.db